*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --primary-color: red;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #f6f6f6;
    position: relative;
    z-index: 1;
}
.bg{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-image: url("/wavy-dots.png");
    opacity: .5;
    z-index: -1;

}
header{
    padding: 2rem;
    text-align: center;
}
header h1{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 4rem;
    text-shadow: 0px 2px 3px rosybrown, 1px 1px 2px orange;
}
header p{
    color: chocolate;
    font-weight: 600;
    font-size: 2rem;
}
.main-section{
    text-align: center;
    padding: 2rem 0;
}
.main-section form{
    width: 100%;
    margin: 1.5rem 0;
}
.main-section form p{
    color: var(--primary-color);
    font-size: 2rem;
}
.main-section form input{
    width: 80%;
    padding: .4rem 1rem;
    margin: 1rem;
    border: 1px solid var(--primary-color);
    outline: none;
    color: var(--primary-color);
}
.main-section form button{
    display: block;
    margin: 0 auto;
    padding: .6rem .9rem;
    width: 30%;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid chocolate;
    background-color: var(--primary-color);
    transition: all .3s;
}
.main-section form button:hover{
    opacity: .6;
}

.card_body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
    padding: 2rem;
    
}
.card{
    background-color: #fff;
    box-shadow: 0px 0px 3px var(--primary-color);
    padding: 1rem .7rem;
    text-align: left;
    border-radius: 3px;
    transition: all .4s;
    color: #555
}
.card:hover{
    transform: scale(1.10);
}
.hud{
    display: flex;
    justify-content: space-evenly;
    color: #666;
}
.hud_total_deaths{
    color: red;
}
.hud_total{
    color: chocolate;
}
.hud_total_recovered{
    color: green;
}
.hud_total, .hud_total_recovered, .hud_total_deaths{
    font-size: 2vw;
}
.name{
    display: block;
}
hr{
    background-color: chocolate;
}
.card_item{
    margin: .4rem .2rem;
}
@media screen and (max-width: 700px ){
    .card_body{
        grid-template-columns: 1fr;
    }
    .hud{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: #666;
    }
    .hud_total, .hud_total_recovered, .hud_total_deaths{
        font-size: 6vw;
    }
}